@font-face {
  font-family: "open-sans";
  src: local("Open Sans"), local("open-sans"), local("opensans"), url("./400-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "open-sans";
  src: local("Open Sans"), local("open-sans"), local("opensans"), url("./400-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "open-sans";
  src: local("Open Sans"), local("open-sans"), local("opensans"), url("./500-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "open-sans";
  src: local("Open Sans"), local("open-sans"), local("opensans"), url("./500-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "open-sans";
  src: local("Open Sans"), local("open-sans"), local("opensans"), url("./600-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "open-sans";
  src: local("Open Sans"), local("open-sans"), local("opensans"), url("./600-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "open-sans";
  src: local("Open Sans"), local("open-sans"), local("opensans"), url("./700-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "open-sans";
  src: local("Open Sans"), local("open-sans"), local("opensans"), url("./700-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
