@font-face {
  font-family: "noto-sans";
  src: local("Noto Sans"), local("noto-sans"), local("notosans"), url("./400-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "noto-sans";
  src: local("Noto Sans"), local("noto-sans"), local("notosans"), url("./400-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "noto-sans";
  src: local("Noto Sans"), local("noto-sans"), local("notosans"), url("./500-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "noto-sans";
  src: local("Noto Sans"), local("noto-sans"), local("notosans"), url("./500-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "noto-sans";
  src: local("Noto Sans"), local("noto-sans"), local("notosans"), url("./600-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "noto-sans";
  src: local("Noto Sans"), local("noto-sans"), local("notosans"), url("./600-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "noto-sans";
  src: local("Noto Sans"), local("noto-sans"), local("notosans"), url("./700-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "noto-sans";
  src: local("Noto Sans"), local("noto-sans"), local("notosans"), url("./700-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
